---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=<FOOD_API>&query=alsdjfalsdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3594'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":0,"currentPage":1,"totalPages":0,"pageList":[],"foodSearchCriteria":{"query":"alsdjfalsdf","generalSearchInput":"alsdjfalsdf","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[],"aggregations":{"dataType":{},"nutrients":{}}}'
  recorded_at: Mon, 19 Jul 2021 16:54:40 GMT
recorded_with: VCR 6.0.0
