---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=<API_KEY>&query=potato
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3597'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":28171,"currentPage":1,"totalPages":564,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"potato","generalSearchInput":"potato","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":1103010,"description":"Potato
        patty","lowercaseDescription":"potato patty","commonNames":"","additionalDescriptions":"potato
        croquettes;potato cake","dataType":"Survey (FNDDS)","foodCode":71503010,"publishedDate":"2020-10-30","foodCategory":"French
        fries and other fried white potatoes","allHighlightFields":"<b>Includes</b>:
        <em>potato</em> croquettes;<em>potato</em> cake","score":268.8129,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","value":3.89},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","value":11.2},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","value":13.4},{"nutrientId":1008,"nutrientName":"Energy","nutrientNumber":"208","unitName":"KCAL","value":170},{"nutrientId":1018,"nutrientName":"Alcohol,
        ethyl","nutrientNumber":"221","unitName":"G","value":0.0},{"nutrientId":1051,"nutrientName":"Water","nutrie[...]
