<h1>FOOD -- GTIN/UPC Code: <%= @found_food.code %>
  <p>Description: <%= @found_food.description %></p>
  <p>Brand Owner: <%= @found_food.brand_owner %></p>
<p>ingredients: <%= @found_food.ingredients %></p>
